@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

main {
  width: 100%;
  min-height: 90vh;
  background-color: #EBEBEB;
}

.divided_content {
  display: grid;
  grid-template: auto / 70% auto;
  grid-template-areas: 'section aside';
  padding: 50px 70px;
  width: 100%;
  min-height: 90vh;
}

.section {
  grid-area: section;
  border-right: 1px solid gray;
  padding: 0 10px;
}

.aside {
  grid-area: aside;
  padding: 0 10px;
}