$laptop: 1200px;

.showcaseCitys {
    min-height: 90vh;
    padding-bottom: 20px;

    @media (min-width: $laptop) {
        padding-bottom: 20px;
    }

    .showcaseCitys_h2 {
        margin-bottom: 10px;
    }
    .showcaseCitys_subHeader {
        margin-bottom: 20px;
    }

    .showcaseCitys_article {
        height: fit-content;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        gap: 30px;

        .showcaseCitys_figure {
            width: 100%;
            height: 35vh;
            overflow: hidden;
            position: relative;
            box-shadow: 5px 5px 10px #00000050;

            @media (min-width: $laptop) {
                width: 47%;
                height: 35vh;
            }

            &:hover {
                cursor: pointer;

                .showcaseCitys_figcaption {
                    height: 50%;
                    transition: .5s ease;

                    .showcaseCitys_p {
                        display: flex;
                        color: black;
                    }
                }
            }

            .showcaseCitys_img {
                width: 100%;
                position: absolute;
                top: 0;
                left: 0;
            }

            .showcaseCitys_figcaption {
                z-index: 1;
                height: 32%;
                width: 100%;
                position: absolute;
                bottom: 0;
                left: 0;
                background-color: white;
                padding: 10px;

                .showcaseCitys_p {
                    display: none;
                    margin-top: 0px;
                }
            }
        }
    }
}